[package]
name = "emu_lib"
version = "0.1.0"
edition = "2021"

[lib]
name = "emu_lib"
path = "src/lib.rs"
crate-type = ["lib"]

[dependencies]
bitfield-struct = "0.6.0"
regex = "1.10.3"
thiserror = "1.0.58"
once_cell = "1.19.0"

[dev-dependencies]
paste = "1.0.14"